service:
  name: jabarapedia

provider:
  name: aws
  runtime: nodejs8.10
  region: ap-northeast-1
  memorySize: 128
  timeout: 30
  iamRoleStatements:
  - Effect: Allow
    Action:
    - dynamodb:*
    Resource:
    - "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/*"
  - Effect: Allow
    Action:
    - s3:*
    Resource:
    - "arn:aws:s3:::tegaki-image/*"

functions:
  getLanguages:
    handler: handler.getLanguages
    events:
    - http:
        method: get
        path: language/index
        cors: false
  postLanguage:
    handler: handler.postLanguage
    events:
    - http:
        method: post
        path: language/index
        cors: false
  optionsLanguage:
    handler: handler.options
    events:
    - http:
        method: options
        path: language/index
        cors: false